<%- include('./partials/header') %>

<div class="w-full h-screen px-20 py-20">
  <h3 class="text-xl mb-5">Account Details</h3>
  <div class="px-10">
    <p>Name: <%= user.fullname %></p>
    <p>Email: <%= user.email %></p>
    <p>Phone: <%= user.phone %></p>
    <p>Address: <%= user.address %></p>
  </div>
</div>
